.form-group > label{
    font-weight: 500;
}
.multiselect-dropdown[_ngcontent-c2] .dropdown-btn[_ngcontent-c2] .dropdown-down[_ngcontent-c2]{
    border-top: 8px solid #000000 !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
}
.invalid-state{
    color: red;
}
.form-control.invalid{
    border-color: red;
}